.app-checkbox {
  display: flex;
  align-items: center;

  input[type='checkbox'] {
    margin-left: 0;
    accent-color: #4e9eac;
  }

  input[type='radio'] {
    margin: 0;
    margin-right: 4px;
  }
}
