.menuContainer {
  background-color: #0DA1BC; //turn it global
  height: 80vh;
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow:0 1px 3px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.1); // turn it global
  border-radius: 0 20px 20px 0;
  transition: all 0.3s;

  &.expandedMenu {
    width: 250px;
  }

  .expandButton {
    border: 0;
    background: transparent;

    svg {
      
    }
  }

  .menuItems {
    box-sizing: border-box;
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 80%;
    margin: 0;
    justify-content: center;
    width: 100%;
    padding: 8px;
  }

  .menuItem {
    list-style-type: none;
    color: white;
    font-size: 16px;
    display: flex;
  
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      padding: 8px;

      &:visited {
        color: white;
      }
    }

    svg {
      color: white;
      margin-right: 15px;
    }


    &:hover {
      border-radius: 20px;
      outline: solid 2px #FFF;
      font-weight: 600;
    }
  }

  button.menuItem {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 8px;
  }

  .logoContainer {
    height: 20%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    .logo {
      width: 70px;
    }

    .logo.expandedMenu {
      width: 150px;
    }
  }
}