.notifications-view {
  .notifications {
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;

    &__item {
      padding-top: 15px;
      padding-bottom: 15px;
      border-top: solid 1px #dcdcdc;
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      transition: all 300ms ease;
      height: 60px;

      &:hover {
        background-color: rgba(132, 141, 173, 0.116);
      }

      h4 {
        margin-top: 0;
        margin-bottom: 4px;
      }

      .notification-content {
        display: flex;
        align-items: center;
        gap: 30px;

        &__mini-label {
          font-size: 10px;
        }

        &__date {
          color: rgb(131, 131, 131);
          margin-bottom: 15px;
        }
      }

      .notification-indicator {
        margin-right: 20px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: red;
      }
    }
  }
}