
.command-card {
  display: flex;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 6px;
  width: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.1);

  &__command {
    display: flex;
    flex-direction: column;
  }

  &__time {
    display: flex;
    align-items: center;
    padding-right: 15px;
  }

  &__history {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-top: solid 1px #c8c8c8;
    padding-top: 10px;
    margin-top: 14px;

    font-size: 12px;
  }
  
  &__command {
    display: flex;
    width: 100%;
    border-left: solid 1px #c8c8c8;
    padding-left: 15px;
  }

  &__info {
    display: flex;
    justify-content: space-between;

    &--on {
      color: #0C9C7A;
    }

    &--off {
      color: #f53a17;
    }
  }

  .command-history {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    &__title {
      font-weight: 700;
    }

    &__from-to {
      display: flex;
      gap: 20px;
    }

    &__unity {
      font-size: 10px;
    }
  }
}