@import '../../styles/breakpoints.scss';

.generic-card {
  box-sizing: border-box;
  display: flex;
  box-shadow:0 1px 3px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.1);
  border-radius: 15px;
  height: 100px;
  color: #6B6B6B;
  padding: 12px;
  justify-content: space-between;
  background-color: #F1F1F1;
  position: relative;

  &__settings {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;

    svg {
      color: #6B6B6B !important;
    }
  }

  .card-data {
    height: 100%;
  }
  
  .card-label {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

    .icon-container {
      margin-bottom: 5px;
    }

    span {
      font-size: 12px;
    }
  }

  
  &--default {
    width: 100%;

    @include md {
      width: 150px;
    }
  }

  &--watering {
    flex-direction: column-reverse;
    height: auto;
    width: 100%;

    .card-label-icon {
      color: #a3da5a63;
    }

    @include md {
      width: 480px;
    }
  }

  &--SHT20, &--HD38 {
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;

    .card-infos {
      border-top: #6B6B6B18 solid 1px;
      padding-top: 10px;
      margin-top: 10px;
    }

    @include md {
      height: 200px;
      width: 200px;
    }
  }

  .card-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}