.generic-card {
  box-sizing: border-box;
  display: flex;
  box-shadow:0 1px 3px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.1);
  border-radius: 15px;
  width: 200px;
  height: 80px;
  color: #6B6B6B;
  padding: 12px;
  justify-content: space-between;
  background-color: #F1F1F1;

  .card-label {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

    .icon-container {
      margin-bottom: 5px;
    }

    span {
      font-size: 18px;
    }
  }

  &--watering {
    height: 200px;
    width: 420px;

    svg {
      color: #a3da5a63;
    }
  }

  &--humidity {
    flex-direction: column-reverse;
    height: 200px;
    width: 200px;

    svg {
      color: #0da2bc66;
    }
  }

  &--temperature {
    flex-direction: column-reverse;
    height: 200px;
    width: 200px;

    svg {
      color: #F9C78D;
    }
  }

  .card-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}