@import '../styles/breakpoints.scss';

.page-container {
  display: block;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 5vh 42px 80px 42px;

  @include md {
    height: auto;
    padding: 10vh 42px 0 142px;
  }
}