@import '../styles/breakpoints.scss';

.page-container {
  display: block;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 5vh 30px 20px;

  @include md {
    padding-top: 10vh;
  }
}