.loading-container {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  bottom: 50%;
  height: 60px;
  top: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  
  svg {
    width: 16px;
  }
}

.animated-dashed-loading {
  animation: rotation 3s infinite linear;
  color: #0da2bc;
}
