.watering-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: auto;

  &__options {
    display: flex;
    margin-block: 14px;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;

    &__status-label {
      font-size: 12px;
      margin: 0 0 14px 0;
    }

    span {
      font-size: 12px;
    }

    &--toggle {
      justify-content: flex-start;

      span {
        width: 50px;
      }
    }
  }
}