
.program-form {
  &__title {
    font-size: 18px;
    font-weight: bold;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__name-input {
    width: 300px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 22px;
  }

  &__types {
    display: flex;
    gap: 8px;
  }

  &__actions {
    display: flex;
    gap: 10px;
  }
}