.home-view {

  .device-status {
    &--online {
      color: #0C9C7A;
    }

    &--offline {
      color: #f53a17;
    }
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .sensors {
      display: flex;
      gap: 20px;
    }
  }

  .measures {
    display: flex;
    flex-direction: column;
  }
}

