@import 'styles/animations.scss';
@import 'styles/breakpoints.scss';

.animated-dashed-loading {
  animation: rotation 3s infinite linear;
  color: #0da2bc;
}

.home-view {
  .device-status {
    p {
      font-size: 12px;
      margin: 0 0 0 2px;
    }

    &__offline-label {
      display: flex;
      align-items: center;
    }

    &--online {
      color: #0C9C7A;
    }

    &--offline {
      color:#f53a17; 
    }

    .wifi-error-icon {
      margin-right: 3px;
    }

    .reconnect-label {
      font-size: 10px;
    }
  }

  .server-connection-status {
    display: flex;
    align-items: center;

    &__container {
      display: flex;
      position: relative;
      margin-left: 10px;

      p {
        font-size: 12px;
        margin-left: 8px;
      }
    }

    &__icon-container, &__animated-icon {
      display: flex;
      align-items: center;
    }

    &__animated-icon {
      &__bg-pulse {
        position: absolute;
        width: 16px;
        height: 16px;
        margin: 0 auto 0;
        box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
        background: #fff;
        animation: pulse 2.5s infinite;
        border-radius: 50%;
        z-index: -1;
      }
    }

    &--online {
      color: #0C9C7A;
    }

    &--offline {
      color: #f53a17;
    }
  }

  .dashboard {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .sensors {
      display: flex;
      gap: 20px;
    }
  }
}

