.custom-date-picker {
  .react-date-picker{
    &__wrapper {
      height: 38px;
      border-radius: 6px;
      padding: 2px 8px;
      border: 1px solid hsl(0, 0%, 80%);
    }
  }

  .react-calendar {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 6px;
    font-family: 'Duru Sans', sans-serif;
  }
}