.device-selector {
  .react-select-container {
    width: 300px;
  }

  &__info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .title {
      font-weight: bold;
      margin-right: 10px;
    }
    
    &__container {
      display: flex;
      align-items: center;
    }

    p {
      font-size: 14px;
      margin: 10px 0;
    }

    .sensors-list {
      display: flex;
      gap: 12px;

      &__card {
        display: flex;
        align-items: center;
        padding: 6px;
        border-radius: 6px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.1);

        &:hover {
          transition: all 300ms ease;
          background-color: rgba(132, 141, 173, 0.116);
        }

        &.selected {
          background-color: rgba(132, 141, 173, 0.116);
        }
      }
    }
  }

  &__container {
    display: flex;
    gap: 10px;
    align-items: center;

    .app-input {
      width: auto;
    }

    input {
      width: 300px;
      padding-left: 10px;
    }
  }
}