.history {
  height: 100%;
  padding-bottom: 50px;

  &__data {
    margin-top: 30px;
  }

  &__selections {
    display: flex;
    gap: 10px;
  }

  &__command-cards {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  &__chart {
    &__title {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__icon-container {
      display: flex;
      align-items: center;
    }
  }
}